<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Barista Garage</title>

    <link rel="stylesheet" href="./styles/globals.css">
    <link rel="stylesheet" href="./styles/product_showcase.css">
</head>
<body>

    <header>
        <a href="/"><img src="./assets/logo.png" alt="Barista Garage logo"></a>

        <nav>
            <a href="/about">About Us</a>
            <a href="#">Espresso Machine</a>
            <a href="#">Espresso Grinder</a>
            <a href="/beans">Beans</a>
            <a href="/accessories">Accessories</a>
            <a href="#">Service & Training</a>
            <a href="/contact">Contact Us</a>
        </nav>
    </header>

    <div class="product-spotlight">
        <div class="card link-card">
            <h2>Coffee Beans</h2>
        </div>

        <div class="card">
            <img src="https://placehold.co/200x200" alt="Coffee Beans">
            <h3>Coffee Beans</h3>
            <a href="#">Learn More</a>
        </div>

        <div class="card">
            <img src="https://placehold.co/200x200" alt="Coffee Beans">
            <h3>Coffee Beans</h3>
            <a href="#">Learn More</a>
        </div>

        <div class="card">
            <img src="https://placehold.co/200x200" alt="Coffee Beans">
            <h3>Coffee Beans</h3>
            <a href="#">Learn More</a>
        </div>
    </div>
</body>
</html>