<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Barista Garage</title>

    <link rel="stylesheet" href="./styles/globals.css">
    <link rel="stylesheet" href="./styles/beans.css">
</head>
<body>

    <header>
        <a href="/"><img src="./assets/logo.png" alt="Barista Garage logo"></a>

        <nav>
            <a href="/about">About Us</a>
            <a href="#">Espresso Machine</a>
            <a href="#">Espresso Grinder</a>
            <a href="/beans">Beans</a>
            <a href="/accessories">Accessories</a>
            <a href="#">Service & Training</a>
            <a href="/contact">Contact Us</a>
        </nav>
    </header>

    <section>
        <h1>Contact</h1>
    </section>
</body>
</html>